body{
  font-family: arial;
  /*text-align:center;*/
  max-width:1200px;
  margin:auto;
}

.error-message{
	color:red;
}

.button{
	border-radius:6px;
	padding:12px;
	border:2px solid lightblue;
	background-color: navy;
	color:white;
	cursor: pointer;
}

.products-grid{
  display:grid;
  display: grid; 
  grid-template-columns: 50% 50%; 
  grid-row-gap: 20px; 
  grid-column-gap: 20px; 
  background-color: #fcfcfc;
  padding:18px;
}

.product{
	border:1px solid grey;
	padding:10px;
  background-color: #fcfcfc;
}


